<ul>
  <% @builds.each do |build| %>
    <li class='<%= build.status ? 'pass' : 'fail' %>'>
      <%= build.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
      <a href='<%= repository %>/commit/<%= build.commit %>'><%= build.commit %></a>
      on <%= build.target %>
      <pre><%= build.output %></pre>
    </li>
  <% end %>
</ul>